/* 
Esta es la paleta de colores de mi proyecto:

.color1 {color: #55959e;}
.color2 {color: #469180;}
.color3 {color: #b4caad;}
.color4 {color: #ddd7c0;}
.color5 {color: #efe7e1;} */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background: #efe7e1;
}
a {
    text-decoration: none;
}
figure {
    width: 300px;
    height: 280px;
    margin: 0;
    position: relative;
    transition: all ease .5s;
    transform-style: preserve-3d;
    transform: perspective(600px) rotateY(0deg);
}
figure .frontral {
    display: block;
    
}
figure .trasera {
    position: absolute;
    top: 0;
    padding: 20px;
    color: #fff;
    transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
    overflow: auto;
}
figure .frontral,
figure .trasera {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all ease .5s;
}
.contenedor {
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.contenedorTarjeta {
    margin: 20px;
}
.contenedorTarjeta a {
    display: inline-block;
}
.contenedorTarjeta:hover figure {
    -webkit-transform: perspective(600px) rotateY(180deg);
    -ms-transform: perspective(600px) rotateY(180deg);
    -o-transform: perspective(600px) rotateY(180deg);
    transform: perspective(600px) rotateY(180deg);
}
.text-center{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.bienvenida {
    color: #55959e;
    font-family: 'Courier New', Courier, monospace;
}
.presentado {
    color: #469180;
    font-family: 'Courier New', Courier, monospace;
}
.parrafo {
    color: #6e7a6b;
    background-color: #efe7e1;
    font-family: 'Courier New', Courier, monospace;
}
.bg-color {
    background-color: #ddd7c0;
}